.ui-loader{
    display: none;
}
body
{
  margin: 0;
}
.header
{
}
nav
{
  font-family: serif;
  width: 100%;
  background-color: #c1272d;
  border-bottom: solid 5px #fcc006;
  display: flex;
  font-size: 40px;
  height:120px;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
}
nav a
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fcc006;
  text-decoration: none;
}
.logo
{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.logo img
{
  width:100px;
  height:100px;
}
.links
{
  display: flex;
  justify-content: center;
  flex-grow: 2;
}
.links a
{
margin: 20px;
}
.links .icon {
  display: none;
}
.linksmobile
{
  display: none;
}
.content
{
  margin-top:160px;
  width:100%;
  height: 475px;
}
.homecontent
{
  margin-top:100px;
  width:100%;
  height: 530px;
  background-color: #c1272d ;
}
.aboutcontent
{
  margin-top:160px;
  width:100%;
  height: 600px;
}
.workcontent
{
  margin-top:160px;
  width:100%;
  height: auto;
  text-align: center;
}
.workcontent h1
{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 3px solid #fcc006;
}
.workcontent button
{
  border:2px solid #fcc006;
  background-color:#c1272d;
  height: 50px;
  width: 200px;
  color: white;
}
.container
{
  max-width: 1000px;
  height: 100%;
  margin: auto;
}
.homecontainer
{
  display: flex;
  align-items: center;
  height: 100%;
}
.aboutcontent h1
{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 3px solid #fcc006;
}
.hometext
{
  flex-grow: 2;
  text-align: center;
}
.hometext h1
{
  color:#fcc006;
}
.hometext p
{
  font-size: 20pt;
  color: white;
}
.hometext button
{
  border:2px solid #fcc006;
  background-color:#c1272d;
  height: 50px;
  width: 200px;
  color: white;
}
.homeimage
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100%;
}
.homeimage img
{
  width: 350px;
  height: 350px;
}
.aboutcontent
{
  margin-top:160px;
  width:100%;
  height: auto;
  text-align: center;
}
.aboutcontainer
{
  padding-bottom: 100px;
  padding-top:50px;
}
.workcontainer
{
  display: flex;
  padding-bottom: 100px;
  padding-top:50px;
}
.grooup
{
  height:300px;
  width: 300px;
  margin-right: 50px;
  border: 2px solid black;
}
.grooup img
{
  height:100%;
  width:100%;
}
.sdachurch
{
  height:300px;
  width: 300px;
  margin-right: 50px;
  border: 2px solid black;
}
.sdachurch img
{
  height:100%;
  width:100%;
}
.thiswebsite
{
  height:300px;
  width: 300px;
  border: 2px solid black;
}
.thiswebsite img
{
  height:100%;
  width:100%;
}
.grooupheader
{
  width:100%;
  background-color: #55b752;
}
.grooupheader h1
{
  color:white;
}
.sdachurchheader
{
  width:100%;
  background-color:#135351;
}
.sdachurchheader h1
{
  color:white;
}
.thiswebsiteheader
{
  width:100%;
  background-color:#c1272d;
}
.thiswebsiteheader h1
{
  color:white;
}
.navigationbuttons
{
  width:100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.nextproject
{
  margin-right: 50px;
  height:70px;
  width:250px;
  background-color: #c1272d;
  border: 2px solid #fcc006;
  text-decoration: none;
  color:white;
}
.nextproject h1
{
  align-items: center;
  font-size: 16pt;
}
.back
{
  height:70px;
  width:250px;
  background-color: #c1272d;
  border: 2px solid #fcc006;
  text-decoration: none;
  color:white;
}
.back h1
{
  align-items: center;
  font-size: 16pt;
}

h1
{
  display: flex;
  justify-content: center;
}
footer
{
  display:flex;
  border-top: 5px solid #fcc006;
  height: 100px;
  width: 100%;
}
.ftrleft
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.ftrleft p
{
  font-size: 14pt;
}
.ftrleft a
{
  text-decoration: none;
}
.ftrright
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.ftrright i
{
  font-size: 30px;
  color: #c1272d;
  margin: 10px;
}
