.ui-loader{
    display: none;
}
body
{
  margin: 0;
}
.header
{
}
nav
{
  font-family: serif;
  width: 100%;
  height: 150px;
  background-color: #c1272d;
  border-bottom: solid 5px #fcc006;
  display: flex;
  font-size: 40px;
  height:150px;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
}
nav a
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fcc006;
  text-decoration: none;
}
.logo
{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.logo img
{
  width:100px;
  height:100px;
}
.links
{
  display: flex;
  justify-content: center;
  flex-grow: 2;
}
.links a
{
margin: 20px;
}
.content
{
  margin-top:160px;
  width:100%;
  height: 475px;
}
.aboutcontent
{
  margin-top:160px;
  width:100%;
  height: 600px;
}
.workcontent
{
  margin-top:160px;
  width:100%;
  height: auto;
  text-align: center;
}
.workcontent h1
{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 3px solid #fcc006;
}
.workcontent button
{
  border:2px solid #fcc006;
  background-color:#c1272d;
  height: 50px;
  width: 200px;
  color: white;
}
.container
{
  max-width: 1000px;
  height: 100%;
  margin: auto;
}
.homecontent
{
  display: flex;
  align-items: center;
  height: 80%;
}
.hometext
{
  flex-grow: 2;
  text-align: center;
}
.hometext h1
{
  color:#c1272d;
}
.hometext p
{
  font-size: 20pt;
  color: grey;
}
.hometext button
{
  border:2px solid #fcc006;
  background-color:#c1272d;
  height: 50px;
  width: 200px;
  color: white;
}
.homeimage
{
  margin-top:100px;
  border: 1px solid black;
  width: 400px;
  height: 100%;
  background-color: #c9c9c7;
}
.homeimage img
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.grooupemail
{
  width:100%;
  height:auto;
  display:flex;
  border: 1px solid #fcc006;
  border-radius: 25px;
}
.grooupemail p
{
  padding-top: 10px;
  text-align: center;
  font-size: 20pt;
}
.sdachurch
{
  width:100%;
  height:auto;
  display:flex;
  border: 1px solid #fcc006;
}
.sdachurch p
{
  padding-top: 10px;
  text-align: center;
  font-size: 20pt;
}
.thiswebsite
{
  width:100%;
  height:auto;
  display:flex;
  border: 1px solid #fcc006;
}
  .thiswebsite p
{
  padding-top: 10px;
  text-align: center;
  font-size: 20pt;
}
.infoleft
{
  width:600px;
}
.inforight
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.inforight img
{

}
h1
{
  display: flex;
  justify-content: center;
}
footer
{
  display:flex;
  border: 5px solid #fcc006;
  height: 100px;
  width: 100%;
}
.ftrleft
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.ftrleft p
{
  font-size: 14pt;
}
.ftrleft a
{
  text-decoration: none;
}
.ftrright
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.ftrright i
{
  font-size: 30px;
  color: #c1272d;
  margin: 10px;
}
